<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JSON Visualizer</title>
    <!-- D3.js for visualization -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.8.5/d3.min.js"></script>
    <!--<link rel="stylesheet" href="/jsonvisual/static/styles.css">-->
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
<h1>Sentence Annotation Visualizer</h1>

<div class="container">
    <!-- Left Column -->
    <div class="instructions-column">
        <div class="instruction-section">
            <h2>Instructions</h2>
            <p>Each time expression is shown inside a yellow box, and their order is the same as they appear in the text. The first is shown first, etc.</p>
            <p>
                Also, time expression has the color
                <span style="display: inline-block; width: 16px; height: 16px; background-color: #ffff00; border: 1px solid #000;"></span>
                (yellow), except for Duration and Set type, in which case it presents the color
                <span style="display: inline-block; width: 16px; height: 16px; background-color: #ff8800; border: 1px solid #000;"></span>
                (orange).
            </p>
            <p>By hovering over an event, it is possible to see its attributes. </p>

            <p> Events with a darker dashed border are of type Intensional Action or Intensional State, i.e., they are events that may or may not happen.</p>
            <p>Please select a file and click on the time expression or event to display its sentence and respective attributes.</p>
        </div>

    </div>

    <!-- Main Content -->
    <div class="main-content">
        <div class="upload-section">
            <select id="fileSelect" onchange="visualizeJSON(this.value)">
                <option value="">Select a file</option>
            </select>
        </div>
        <div id="visualization-wrapper">
            <div id="visualization"></div>
            <div id="tooltip" class="tooltip"></div>
        </div>
    </div>
</div>


        <!--<script src="/jsonvisual/static/scripts.js"></script>-->
    <script src="static/scripts.js"></script>
</body>
</html>

