<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JSON Visualizer</title>
    <!-- D3.js for visualization -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.8.5/d3.min.js"></script>
    <link rel="stylesheet" href="/jsonvisual/static/styles.css">

</head>
<body>
    <div class="container">
        <h1>Sentence Annotation Visualizer</h1>
        <div class="upload-section">
            <select id="fileSelect" onchange="visualizeJSON(this.value)">
                <option value="">Select a file</option>    
            </select>
        </div>
        <div id="visualization"></div>
    </div>

        <script src="/jsonvisual/static/scripts.js"></script>
</body>
</html>

